<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editor UI System</title>
  </head>
  <body class="edsg-bg-body">
    <div class="ed-container-grid">
      <header><%= require('html-loader!./partials/header.html') %></header>
      <aside class="edsg-bg-aside-home">
        <article class="edsg-descrption-component">
          <span>Descrpción /</span>
          <span>Lorem Ipsum is simply dummy / 11:40 AM</span>
        </article>
      </aside>
      <main>
        <div class="edsg-home-wrapper">
        <h1>Editor ui library</h1>
        <h2>doppler MULTIMEDIA GUIDES</h2>

        <nav class="edsg-explore-menu">
          <a class="animated-arrow" href="components.html">
            <span class="the-arrow -left">
              <span class="shaft"></span>
            </span>
            <span class="edsg-button-group">
              <span class="text"> Explore Components </span>
              <span class="the-arrow -right">
                <span class="shaft"></span>
              </span>
            </span>
          </a>
          <a class="animated-arrow" href="layouts.html">
            <span class="the-arrow -left">
              <span class="shaft"></span>
            </span>
            <span class="edsg-button-group">
              <span class="text"> Explore Layouts </span>
              <span class="the-arrow -right">
                <span class="shaft"></span>
              </span>
            </span>
          </a>
        </nav>

        <div class="edsg-bg-image-home"></div>
      </div>
      </main>

      <footer><%= require('html-loader!./partials/footer.html') %></footer>
    </div>
  </body>
</html>
