<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editor UI System SRC</title>
</head>
<body>
    


{{> partials/header }}
<h2>Probando CSS</h2>
<h2>Probando SASS</h2>
<h2>Probando Handlebars</h2>
<h2>Probando Partials</h2>
<h2>Add loader para imágenes</h2>
<h2>Minificado de imágenes para producción</h2>

</body>
</html>