<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editor UI System - Components</title>
  </head>
  <body class="edsg-bg-body">
    <div class="ed-container-grid">
      <header><%= require('html-loader!../partials/header.html') %></header>
      <aside class="edsg-bg-aside-home">
        <article class="edsg-descrption-component">
          <span>Descrpción /</span>
          <span>Lorem Ipsum is simply dummy / 11:40 AM</span>
        </article>
      </aside>
      <main>
        <div class="edsg-components-wrapper">
        <h1>Componentes</h1>
        <div class="edsg-gallery">

            <div class="edsg-gallery--item">
              <h3><span>01</span> Titulo del componente</h3>
              <img src="../images/pic1.jpg" alt="">
              <div class="edsg-description-card">
                <a href="#"><span>Explore</span></a>
              </div>
            </div>


            <div class="edsg-gallery--item">
              <h3><span>02</span> Titulo del componente</h3>
              <img src="../images/pic2.jpg" alt="">
              <div class="edsg-description-card">
                <a href="#"><span>Explore</span></a>
              </div>
            </div>

            <div class="edsg-gallery--item">
              <h3><span>03</span> Titulo del componente</h3>
              <img src="../images/pic3.jpg" alt="">
              <div class="edsg-description-card">
                <a href="#"><span>Explore</span></a>
              </div>
            </div>

            <div class="edsg-gallery--item">
              <h3><span>04</span> Titulo del componente</h3>
              <img src="../images/pic4.jpg" alt="">
              <div class="edsg-description-card">
                <a href="#"><span>Explore</span></a>
              </div>
            </div>

            <div class="edsg-gallery--item">
              <h3><span>05</span> Titulo del componente</h3>
              <img src="../images/pic5.jpg" alt="">
              <div class="edsg-description-card">
                <a href="#"><span>Explore</span></a>
              </div>
            </div>

            <div class="edsg-gallery--item">
              <h3><span>06</span> Titulo del componente</h3>
              <img src="../images/pic6.jpg" alt="">
              <div class="edsg-description-card">
                <a href="#"><span>Explore</span></a>
              </div>
            </div>

            <div class="edsg-gallery--item">
              <h3><span>07</span> Titulo del componente</h3>
              <img src="../images/pic2.jpg" alt="">
              <div class="edsg-description-card">
                <a href="#"><span>Explore</span></a>
              </div>
            </div>

            <div class="edsg-gallery--item">
              <h3><span>08</span> Titulo del componente</h3>
              <img src="../images/pic3.jpg" alt="">
              <div class="edsg-description-card">
                <a href="#"><span>Explore</span></a>
              </div>
            </div>

            <div class="edsg-gallery--item">
              <h3><span>09</span> Titulo del componente</h3>
              <img src="../images/pic4.jpg" alt="">
              <div class="edsg-description-card">
                <a href="#"><span>Explore</span></a>
              </div>
            </div>

            <div class="edsg-gallery--item">
              <h3><span>10</span> Titulo del componente</h3>
              <img src="../images/pic5.jpg" alt="">
              <div class="edsg-description-card">
                <a href="#"><span>Explore</span></a>
              </div>
            </div>

            <div class="edsg-gallery--item">
              <h3><span>11</span> Titulo del componente</h3>
              <img src="../images/pic6.jpg" alt="">
              <div class="edsg-description-card">
                <a href="#"><span>Explore</span></a>
              </div>
            </div>




      </div>
      </div>
      </main>
      <footer><%= require('html-loader!../partials/footer.html') %></footer>
    </div>
  </body>
</html>
