<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editor UI System - Components</title>
  </head>
  <body class="edsg-bg-body">
    <div class="ed-container-grid">
      <header><%= require('html-loader!../partials/header.html') %></header>
      <aside class="edsg-bg-aside-home">
        <article class="edsg-descrption-component">
          <span>Descrpción /</span>
          <span>Lorem Ipsum is simply dummy / 11:40 AM</span>
        </article>
      </aside>
      <main>
        <div class="edsg-layouts-wrapper">
          <h1>Layouts</h1>

        </div>
      </main>
      <footer><%= require('html-loader!../partials/footer.html') %></footer>
    </div>
  </body>
</html>
